.form-container {
  display: flex;
  margin-top: 36px;

  gap: 8px;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 272px;
  height: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;

  border: 1px solid #808080;
  border-radius: 4px;

  padding-left: 16px;
}

.form-input:hover {
  border: 1px solid #000;
}

.form-input:focus {
  border: 1px solid #4e75ff;
}

.start-button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  border: none;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;

  background: #4e75ff;
}

.start-button:hover {
  background: #6c8cff;
}
